/* Allgemeines Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin-bottom: 60px; /* Platz für den Footer */
    padding-top: 80px;
}

/* Unified Container Styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 60px; /* Platz für den Footer */
}

/* Header-Styling */
.header {
    background-color: #031a30; /* Hintergrundfarbe angepasst */
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1030; /* Ensures header is above other elements */
}

/* Footer-Styling */
.footer {
    background-color: #031a30;
    color: #ffffff;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center; /* Zentriert den Text im Footer */
    z-index: 1000; /* Ensures footer is above other elements */
}

/* Link-Styling im Header und Footer */
header a, .footer a {
    color: #ffffff;
    text-decoration: none;
}

/* H1-Styling */
h1 {
    text-align: center;
    margin-top: 40px; /* Adjust margin to ensure visibility below fixed header */
}

/* Paragraph-Styling */
p {
    line-height: 1.6;
}

/* Link-Styling */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Fixed card height */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Fixed image height and cover styling */
.card img.card-img-top {
    height: 200px; /* Adjust as necessary */
    object-fit: cover; /* This will cover the area proportionally */
    width: 100%;
}

/* Flex-grow for card body to fill remaining space */
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: between;
}

.card-text {
    margin-top: auto; /* Pushes the text to the bottom */
}


.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
}

.login-form {
    margin-bottom: 15px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #8dbc8a;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
