.register-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 30px;
}

.register-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn-primary {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #8dbc8a;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
